/* Page Colors */
$pg-mn-clr: rgb(158, 55, 153);
$pg-scdry-clr: rgb(54, 117, 189);
$symb-x-clr: rgb(139, 0, 0);
$symb-o-clr: rgb(0, 102, 0);
$wheat-clr: wheat;
$white-clr: white;
$dark-gray: darkgray;
$dark-gray-opac: rgba(155, 155, 155, 0.308);